<?xml version="1.0" encoding="utf-8" ?>
<!-- Connection Type: 1 = Mitsubishi, 2 = Mirle, 3 = ADAM-6050, 4 = MC Protocal-->
<MPLCConnectionSetting>




  <!--<Connection Name="MTL" Type="2" IP="192.168.2.17" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
                 AliveMPLCDeviceBlock="43079">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="3108" EndBlock="3177"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="1000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="624" EndBlock="641"></ReadRange>
    </Device>
  </Connection>


  


  --><!--<Connection Name="MTL2" Type="1" LogicalStationNumber="1" ReadIntervalMilliSec="500" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"--><!--
  <Connection Name="MTL2" Type="4" IP="192.168.1.81" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
             AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>

  --><!--<Connection Name="MTL3" Type="1" LogicalStationNumber="2" ReadIntervalMilliSec="500" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"--><!--
  <Connection Name="MTL3" Type="4" IP="192.168.1.82" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
           AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>
  
  
  <Connection Name="MTS" Type="2" IP="192.168.2.15" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
                   AliveMPLCDeviceBlock="43079">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="3108" EndBlock="3177"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="1000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="624" EndBlock="641"></ReadRange>
    </Device>
  </Connection>
  
  <Connection Name="MTS2" Type="2" IP="192.168.2.16" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="1"
                   AliveMPLCDeviceBlock="43079">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="3108" EndBlock="3177"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="1000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="624" EndBlock="641"></ReadRange>
    </Device>
  </Connection>

  

  --><!--<Connection Name="MTS3" Type="1" LogicalStationNumber="3" ReadIntervalMilliSec="500" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"--><!--
  <Connection Name="MTS3" Type="4" IP="192.168.1.83" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
         AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>


  <Connection Name="HID" Type="2" IP="192.168.2.11" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
              AliveMPLCDeviceBlock="40320">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0320" EndBlock="0361"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="3000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="864" EndBlock="2000"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="HID2" Type="2" IP="192.168.2.12" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="1"
                AliveMPLCDeviceBlock="40320">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0320" EndBlock="0361"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="3000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="864" EndBlock="2000"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="HID3" Type="2" IP="192.168.2.13" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
                AliveMPLCDeviceBlock="40320">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0320" EndBlock="0361"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="3000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="864" EndBlock="2000"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="HID4" Type="2" IP="192.168.2.14" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
                AliveMPLCDeviceBlock="40320">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0320" EndBlock="0361"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="3000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="864" EndBlock="2000"></ReadRange>
    </Device>
  </Connection>


  
  --><!--<Connection Name="HID5" Type="1" LogicalStationNumber="4" ReadIntervalMilliSec="500" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"--><!--
  <Connection Name="HID5" Type="4" IP="192.168.1.84" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="1"
       AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="0300"></ReadRange>
    </Device>
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>

  --><!--<Connection Name="HID6" Type="1" LogicalStationNumber="5" ReadIntervalMilliSec="500" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"--><!--
  <Connection Name="HID6" Type="4" IP="192.168.1.85" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="1"
       AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="0300"></ReadRange>
    </Device>
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>

  --><!--<Connection Name="HID7" Type="1" LogicalStationNumber="6" ReadIntervalMilliSec="500" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"--><!--
  <Connection Name="HID7" Type="4" IP="192.168.1.86" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="1"
       AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="0300"></ReadRange>
    </Device>
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>



  --><!--<Connection Name="HID8" Type="1" LogicalStationNumber="7" ReadIntervalMilliSec="500" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"--><!--
  <Connection Name="HID8" Type="4" IP="192.168.1.87" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="1"
       AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="0300"></ReadRange>
    </Device>
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>


  --><!--<Connection Name="HID9" Type="1" LogicalStationNumber="8" ReadIntervalMilliSec="500" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"--><!--
  <Connection Name="HID9" Type="4" IP="192.168.1.88" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="1"
       AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="0300"></ReadRange>
    </Device>
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>


  --><!--<Connection Name="HID10" Type="1" LogicalStationNumber="9" ReadIntervalMilliSec="500" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"--><!--
  <Connection Name="HID10" Type="4" IP="192.168.1.89" Port="7000" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="1" MaxMPLCWaitTime="4" MaxMPLCRetryCount="1"
       AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="0300"></ReadRange>
    </Device>
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0000" EndBlock="00FF"></ReadRange>
    </Device>
  </Connection>--><!--

  
  
  <Connection Name="CV31_A" Type="3" IP="192.168.1.91" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
             AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="CV31_B" Type="3" IP="192.168.1.92" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
            AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="CV32_A" Type="3" IP="192.168.1.93" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
            AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="CV32_B" Type="3" IP="192.168.1.94" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
            AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="CV61_A" Type="3" IP="192.168.1.95" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
            AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="CV61_B" Type="3" IP="192.168.1.96" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
            AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="CV62_A" Type="3" IP="192.168.1.97" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
            AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="CV62_B" Type="3" IP="192.168.1.99" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
          AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="FOUR_COLOR_LIGHT" Type="3" IP="192.168.1.98" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="0"
        AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>-->

  
  
</MPLCConnectionSetting>