<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="C:\LogFiles\OHxC_Form\${date:format=yyyyMMdd}" />
  <variable name="layoutDF" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${onexception:inner=${newline} ${exception:format=ToString}} ${message} ${onexception:inner=${newline} ${exception:format=ToString}}"/>
  <variable name="layout_OnlyMessage" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}]##${message}"/>
  <variable name="layout_TimeMessage" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}]:${message}"/>
  <variable name="layoutLogUtility" value="${message} ${onexception:inner=${newline} ${exception:format=ToString}}"/>


  <targets>
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100" flushTimeout="10000"/>
    <target name="SystemLog" xsi:type="File" fileName="${logDirectory}/SystemLog.log" layout="${layoutDF}"
    archiveFileName="${logDirectory}/Archive/SystemLog_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
  archiveEvery="Day" keepFileOpen="false"  />
    <target name="TEST_GPP_TRACE" xsi:type="File" fileName="${logDirectory}/TEST_GPP_TRACE.log" layout="${layout_TimeMessage}"
  archiveFileName="${logDirectory}/Archive/TEST_GPP_TRACE_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
 archiveEvery="Day" keepFileOpen="false"/>
    <target name="UIExceptionLog" xsi:type="File" fileName="${logDirectory}/UIExceptionLog.log" layout="${layoutDF}"
  archiveFileName="${logDirectory}/Archive/UIExceptionLog_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
 archiveEvery="Day" keepFileOpen="false"/>

    <target name="OperationLogger" xsi:type="File" fileName="${logDirectory}/OperationLogger.log" layout="${layoutDF}"
  archiveFileName="${logDirectory}/Archive/OperationLogger_{#}.log" maxArchiveFiles="60" archiveNumbering="Date"
 archiveEvery="Day" keepFileOpen="false"/>


  </targets>
  <rules>
    <logger name="OperationLogger" level="Info" writeTo="OperationLogger"/>
    <logger name="*" minlevel="Warn" writeTo="SystemLog" />
    <logger name="TEST_GPP" level="Trace" writeTo="TEST_GPP_TRACE"/>
    <logger name="com.mirle.ibg3k0.ohxc.winform.UI.Components.*" minlevel="Info" writeTo="UIExceptionLog"/>
  </rules>
</nlog>

