<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="D:\OHTC_Sim_Log\${date:format=yyyyMMdd}" />
  <variable name="layoutDF" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${onexception:inner=${newline} ${exception:format=ToString}} ${message} ${onexception:inner=${newline} ${exception:format=ToString}}"/>
  <targets>
    <target name="TcpIpControl" xsi:type="File" fileName="${logDirectory}/TcpIpControl_${date:format=yyyyMMdd}.log" layout="${layoutDF}" />
    <target name="TcpIpTrx" xsi:type="File" fileName="${logDirectory}/TcpIpTrx_${date:format=yyyyMMdd}.log" layout="${layoutDF}" />
    <target name="TcpIpTrxState" xsi:type="File" fileName="${logDirectory}/TcpIpTrxState_${date:format=yyyyMMdd}.log" layout="${layoutDF}" />
  </targets>
  <rules>
    <logger name="TcpIpControl" minlevel="Debug" writeTo="TcpIpControl" />
    <logger name="TcpIpTrx" minlevel="Debug" writeTo="TcpIpTrx" />
    <logger name="TcpIpTrxState" minlevel="Debug" writeTo="TcpIpTrxState" />
  </rules>
</nlog>

